<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/board/detail.js" defer></script>
  <link rel="stylesheet" href="/css/home/login.css"></link>
  <title>Document</title>
</head>
<body>
  <div class="login-page">
    <div class="form">
      <input id="bbrd-seq" type="hidden" value="<%=data[0].BBRD_SEQ%>" />
      <input id="title" type="text" placeholder="제목" value="<%=data[0].TITLE%>"/>
        <textarea id="contents" placeholder="내용"><%=data[0].CONTENTS%></textarea>
        <select id="bbrd-type">
          <option value="TEST" <%= data[0].BBRD_TYPE === 'TEST' ? 'selected' : '' %>>TEST</option>
          <option value="NOTICE" <%= data[0].BBRD_TYPE === 'NOTICE' ? 'selected' : '' %>>NOTICE</option>
          <option value="ETC" <%= data[0].BBRD_TYPE === 'ETC' ? 'selected' : '' %>>ETC</option>
        </select>
        <input id="bbrd-nt-yn" type="checkbox" value="Y" <%= data[0].BBRD_NT_YN === 'Y' ? 'checked' : '' %>>공지</input>
        <p id="button">수정</p>
        <p id="delBtn">삭제</p>
      </div>
  </div>
</body>
</html>